---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import person1 from "@images/testimonials/image-daniel.jpg";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="quote">
      <header>
        <Image src={person1} alt="person 1" />
        <p>Daniel Clifford</p>
        <p>Verified Graduate</p>
      </header>
      <p>
        I received a job offer mid-course, and the subjects I learned were
        current, if not more so, in the company I joined. I honestly feel I got
        every penny’s worth.
      </p><p>
        “ I was an EMT for many years before I joined the bootcamp. I’ve been
        looking to make a transition and have heard some people who had an
        amazing experience here. I signed up for the free intro course and found
        it incredibly fun! I enrolled shortly thereafter. The next 12 weeks was
        the best - and most grueling - time of my life. Since completing the
        course, I’ve successfully switched careers, working as a Software
        Engineer at a VR startup. ”
      </p>
    </div>
    <div>
      <header>
        <Image src={person1} alt="person 1" />
        <p>Jonathan Walters</p>
        <p>Verified Graduate</p>
      </header>
      <p>The team was very supportive and kept me motivated</p>
      <p>
        “ I started as a total newbie with virtually no coding skills. I now
        work as a mobile engineer for a big company. This was one of the best
        investments I’ve made in myself. ”
      </p>
    </div>
    <div>
      <header>
        <Image src={person1} alt="person 1" />
        <p>Jeanette Harmon</p>
        <p>Verified Graduate</p>
      </header>
      <p>An overall wonderful and rewarding experience</p><p>
        “ Thank you for the wonderful experience! I now have a job I really
        enjoy, and make a good living while doing something I love. ”
      </p>
    </div>
    <div>
      <header>
        <Image src={person1} alt="person 1" />
        <p>Patrick Abrams</p>
        <p>Verified Graduate</p>
      </header>
      <p>
        Awesome teaching support from TAs who did the bootcamp themselves.
        Getting guidance from them and learning from their experiences was easy.
      </p><p>
        “ The staff seem genuinely concerned about my progress which I find
        really refreshing. The program gave me the confidence necessary to be
        able to go out in the world and present myself as a capable junior
        developer. The standard is above the rest. You will get the personal
        attention you need from an incredible community of smart and amazing
        people. ”
      </p>
    </div>
    <div>
      <header>
        <Image src={person1} alt="person 1" />
        <p>Kira Whittle</p>
        <p>Verified Graduate</p>
      </header>
      <p>Such a life-changing experience. Highly recommended!</p>
      <p>
        “ Before joining the bootcamp, I’ve never written a line of code. I
        needed some structure from professionals who can help me learn
        programming step by step. I was encouraged to enroll by a former student
        of theirs who can only say wonderful things about the program. The
        entire curriculum and staff did not disappoint. They were very hands-on
        and I never had to wait long for assistance. The agile team project, in
        particular, was outstanding. It took my learning to the next level in a
        way that no tutorial could ever have. In fact, I’ve often referred to it
        during interviews as an example of my developent experience. It
        certainly helped me land a job as a full-stack developer after receiving
        multiple offers. 100% recommend! ”
      </p>
    </div>
  </main>
</Layout>

<div class="attribution">
  Challenge by <a
    href="https://www.frontendmentor.io?ref=challenge"
    target="_blank">Frontend Mentor</a
  >. Coded by <a href="#">Your Name Here</a>.
</div>

<style lang="scss">
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
  :root {
    --clr-primary: hsl(263, 55%, 52%);
    --clr-secondary: hsl(217, 19%, 35%);
    --clr-third: hsl(219, 29%, 14%);
    --clr-neutral-1: hsl(0, 0%, 81%);
    --clr-neutral-2: hsl(210, 46%, 95%);

    --padding-sm: clamp(1rem, 3%, 1.5rem);
    --padding-md: clamp(1.5rem, 6%, 3rem);
    --padding-lg: clamp(3rem, 12%, 6rem);
  }
  body {
    background: var(--clr-neutral-2);
  }
  main {
    font-family: "Barlow Semi Condensed", sans-serif;
    margin-inline: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 2.25rem;
    max-width: 1110px;
    font-size: 13px;

    header {
      display: grid;
      grid-template-columns: (3rem auto);
      grid-template-rows: 1fr 1fr;
      gap: 0 0.5rem;
      grid-template-areas:
        "photo name"
        "photo pos";

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 100vh;
        border: 1px solid rgba(255, 255, 255, 0.589);
        grid-area: photo;
      }
      p:nth-child(2) {
        grid-area: name;
        font-weight: 600;
        font-size: 1rem;
      }
      p:nth-child(3) {
        grid-area: pos;
        opacity: 50%;
      }
    }
    div {
      padding: 2rem;
      border-radius: 0.5rem;
      box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.49);

      &:not(header) > p:nth-child(2) {
        font-size: 1.3rem;
        line-height: 1;
      }
      &:not(header) > p:nth-child(3) {
        opacity: 70%;
      }
    }

    div:nth-child(1) {
      background-color: var(--clr-primary);
      color: white;
      grid-column: span 2;
      grid-row: 1;
    }
    div:nth-child(2) {
      background-color: var(--clr-secondary);
      color: white;

      grid-column: span 1;
      grid-row: 1;
    }
    div:nth-child(3) {
      background: white;
      grid-column: 1;
      grid-row: 2;
    }
    div:nth-child(4) {
      background: var(--clr-third);
      color: white;

      grid-column: 2 / 4;
      grid-row: 2;
    }

    div:nth-child(5) {
      grid-column: 4;
      grid-row: span 2;
      background: white;
    }
  }
  .quote {
    background: url("/images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position-x: 75%;
  }
  @media (min-width: 475px) {
    body {
      background: rgb(125, 27, 44);
    }
    main {
      grid-template-columns: 1fr;
      background-color: aqua;
    }
  }
</style>
